/*
FILE: CSS Body File
Created by Victor Moreno
Date: 10/13/2020
*/

div.main {
 text-align: center;
 margin: 0;
 padding: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*SPLASHSCREEN*/
#splashscreen {
 display: none;
}

/*SEARCH BAR STYLE*/
#search-container {
 display: none;
 position: absolute;
 top: 50%;
 width: 99%;
 text-align: center;
}
input.search-bar {
 display: inline-block;
 border: 0;
 width: fit-content;
 border-bottom: solid 2px;
 font-size: 5em;
 letter-spacing: 10px;
 text-transform: uppercase;
 font-family: 'Raleway', sans-serif;
}
